@import '_base';
html {
  box-sizing: border-box;
}

:root {
  background: #e7e7e7;
}

html,
body {
  //overflow: hidden !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0 0 10px;
}

small,
.small {
  font-size: 85%;
}

mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857143;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

//Collapse height
.v-collapse {
  .el-collapse-item__header,
  .el-collapse-item__arrow {
    height: 35px;
    line-height: 35px;
  }
}
.el-collapse {border: 0;}
.el-collapse-item__wrap{border-bottom:0;}
//Sider background color across the color 
.v-sider {
  .el-menu-item:hover,
  .el-menu-item:focus,
  .el-submenu__title:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.2);
  }
}

//v-tab
.v-tabs{
  .el-tabs--border-card{
    >.el-tabs__content{ padding: 10px;}
    >.el-tabs__header{
      .el-tabs__item.is-active {color: #ffffff; background: #2f4050;}
      background: #f6f6f6;border-bottom: 2px solid #2f4050;
      }
  }
}
//Tabs text color hover the color
.v-tabs {
  .el-tabs--border-card {
    >.el-tabs__header {
      .el-tabs__item{border-right-color: #ebeef5;}
      .el-tabs__item:not(.is-disabled){
        &:hover{ color: #fff;}
      }
      .el-tabs__item:not(.is-active){
        &:hover{color: #4878ca;}
      }
    }
  }
}
//tabs close button color and background color
.v-tabs {
  .el-tabs--border-card {
    >.el-tabs__header {
      .el-tabs__item.is-active {
        .el-icon-close:before {color: #000;}
      }
      .el-tabs__item {
        .el-icon-close:before{color: #fff;}
      }
    }
  }
}
.v-tabs{
  .el-tabs--border-card {
    .el-icon-close:before {padding: 1px;background: #c0c4cc;border-radius: 50%;}
  }
}

//Table th background color and height
.v-table{
  .el-table th {background: #f0f4f7; height: 40px;}
} 

.v-form .v-collapse-item-body{
  padding:0 20px;
}
